@charset "UTF-8";
@keyframes mdc-ripple-fg-radius-in {
  from {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1); }
  to {
    transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); } }

@keyframes mdc-ripple-fg-opacity-in {
  from {
    animation-timing-function: linear;
    opacity: 0; }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0); } }

@keyframes mdc-ripple-fg-opacity-out {
  from {
    animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0); }
  to {
    opacity: 0; } }

.mdc-ripple-surface--test-edge-var-bug {
  --mdc-ripple-surface-test-edge-var: 1px solid #000;
  visibility: hidden; }
  .mdc-ripple-surface--test-edge-var-bug::before {
    border: var(--mdc-ripple-surface-test-edge-var); }

.mdc-button {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.08929em;
  text-decoration: none;
  text-transform: uppercase;
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: transform, opacity;
  padding: 0 8px 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  /* @alternate */
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px; }
  .mdc-button::before, .mdc-button::after {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: ""; }
  .mdc-button::before {
    transition: opacity 15ms linear;
    z-index: 1; }
  .mdc-button.mdc-ripple-upgraded::before {
    transform: scale(var(--mdc-ripple-fg-scale, 1)); }
  .mdc-button.mdc-ripple-upgraded::after {
    top: 0;
    /* @noflip */
    left: 0;
    transform: scale(0);
    transform-origin: center center; }
  .mdc-button.mdc-ripple-upgraded--unbounded::after {
    top: var(--mdc-ripple-top, 0);
    /* @noflip */
    left: var(--mdc-ripple-left, 0); }
  .mdc-button.mdc-ripple-upgraded--foreground-activation::after {
    animation: 225ms mdc-ripple-fg-radius-in forwards, 75ms mdc-ripple-fg-opacity-in forwards; }
  .mdc-button.mdc-ripple-upgraded--foreground-deactivation::after {
    animation: 150ms mdc-ripple-fg-opacity-out;
    transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); }
  .mdc-button::before, .mdc-button::after {
    top: calc(50% - 100%);
    /* @noflip */
    left: calc(50% - 100%);
    width: 200%;
    height: 200%; }
  .mdc-button.mdc-ripple-upgraded::after {
    width: var(--mdc-ripple-fg-size, 100%);
    height: var(--mdc-ripple-fg-size, 100%); }
  .mdc-button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .mdc-button:active {
    outline: none; }
  .mdc-button:hover {
    cursor: pointer; }
  .mdc-button:disabled {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.37);
    cursor: default;
    pointer-events: none; }
  .mdc-button:not(:disabled) {
    background-color: transparent; }
  .mdc-button:not(:disabled) {
    color: #6200ee;
    /* @alternate */
    color: var(--mdc-theme-primary, #6200ee); }
  .mdc-button::before, .mdc-button::after {
    background-color: #6200ee; }
    @supports not (-ms-ime-align: auto) {
      .mdc-button::before, .mdc-button::after {
        /* @alternate */
        background-color: var(--mdc-theme-primary, #6200ee); } }
  .mdc-button:hover::before {
    opacity: 0.04; }
  .mdc-button:not(.mdc-ripple-upgraded):focus::before, .mdc-button.mdc-ripple-upgraded--background-focused::before {
    transition-duration: 75ms;
    opacity: 0.12; }
  .mdc-button:not(.mdc-ripple-upgraded)::after {
    transition: opacity 150ms linear; }
  .mdc-button:not(.mdc-ripple-upgraded):active::after {
    transition-duration: 75ms;
    opacity: 0.16; }
  .mdc-button.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: 0.16; }
  .mdc-button .mdc-button__icon {
    /* @noflip */
    margin-left: 0;
    /* @noflip */
    margin-right: 8px;
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    vertical-align: top; }
    [dir="rtl"] .mdc-button .mdc-button__icon, .mdc-button .mdc-button__icon[dir="rtl"] {
      /* @noflip */
      margin-left: 8px;
      /* @noflip */
      margin-right: 0; }
  .mdc-button svg.mdc-button__icon {
    fill: currentColor; }

.mdc-button--raised .mdc-button__icon,
.mdc-button--unelevated .mdc-button__icon,
.mdc-button--outlined .mdc-button__icon {
  /* @noflip */
  margin-left: -4px;
  /* @noflip */
  margin-right: 8px; }
  [dir="rtl"] .mdc-button--raised .mdc-button__icon, .mdc-button--raised .mdc-button__icon[dir="rtl"], [dir="rtl"]
  .mdc-button--unelevated .mdc-button__icon,
  .mdc-button--unelevated .mdc-button__icon[dir="rtl"], [dir="rtl"]
  .mdc-button--outlined .mdc-button__icon,
  .mdc-button--outlined .mdc-button__icon[dir="rtl"] {
    /* @noflip */
    margin-left: 8px;
    /* @noflip */
    margin-right: -4px; }

.mdc-button--raised,
.mdc-button--unelevated {
  padding: 0 16px 0 16px; }
  .mdc-button--raised:disabled,
  .mdc-button--unelevated:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.37); }
  .mdc-button--raised:not(:disabled),
  .mdc-button--unelevated:not(:disabled) {
    background-color: #6200ee; }
    @supports not (-ms-ime-align: auto) {
      .mdc-button--raised:not(:disabled),
      .mdc-button--unelevated:not(:disabled) {
        /* @alternate */
        background-color: var(--mdc-theme-primary, #6200ee); } }
  .mdc-button--raised:not(:disabled),
  .mdc-button--unelevated:not(:disabled) {
    color: #fff;
    /* @alternate */
    color: var(--mdc-theme-on-primary, #fff); }
  .mdc-button--raised::before, .mdc-button--raised::after,
  .mdc-button--unelevated::before,
  .mdc-button--unelevated::after {
    background-color: #fff; }
    @supports not (-ms-ime-align: auto) {
      .mdc-button--raised::before, .mdc-button--raised::after,
      .mdc-button--unelevated::before,
      .mdc-button--unelevated::after {
        /* @alternate */
        background-color: var(--mdc-theme-on-primary, #fff); } }
  .mdc-button--raised:hover::before,
  .mdc-button--unelevated:hover::before {
    opacity: 0.08; }
  .mdc-button--raised:not(.mdc-ripple-upgraded):focus::before, .mdc-button--raised.mdc-ripple-upgraded--background-focused::before,
  .mdc-button--unelevated:not(.mdc-ripple-upgraded):focus::before,
  .mdc-button--unelevated.mdc-ripple-upgraded--background-focused::before {
    transition-duration: 75ms;
    opacity: 0.24; }
  .mdc-button--raised:not(.mdc-ripple-upgraded)::after,
  .mdc-button--unelevated:not(.mdc-ripple-upgraded)::after {
    transition: opacity 150ms linear; }
  .mdc-button--raised:not(.mdc-ripple-upgraded):active::after,
  .mdc-button--unelevated:not(.mdc-ripple-upgraded):active::after {
    transition-duration: 75ms;
    opacity: 0.32; }
  .mdc-button--raised.mdc-ripple-upgraded,
  .mdc-button--unelevated.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: 0.32; }

.mdc-button--raised {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }
  .mdc-button--raised:hover, .mdc-button--raised:focus {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .mdc-button--raised:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
  .mdc-button--raised:disabled {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }

.mdc-button--outlined {
  border-style: solid;
  padding: 0 14px 0 14px;
  border-width: 2px; }
  .mdc-button--outlined:disabled {
    border-color: rgba(0, 0, 0, 0.37); }
  .mdc-button--outlined:not(:disabled) {
    border-color: #6200ee;
    /* @alternate */
    border-color: var(--mdc-theme-primary, #6200ee); }

.mdc-button--dense {
  height: 32px;
  font-size: .8125rem; }

.button-alternate:not(:disabled) {
  background-color: lightblue; }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Regular";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Roboto-RegularItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Thin";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Thin.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Black";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Black.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BlackItalic.woff") format("woff"); }

@font-face {
  font-family: "weathericons";
  src: url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.eot");
  src: url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.woff2") format("woff2"), url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.woff") format("woff"), url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.ttf") format("truetype"), url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.svg#weather_iconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.wi {
  display: inline-block;
  font-family: "weathericons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wi-fw {
  width: 1.4em;
  text-align: center; }

.wi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.wi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.wi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.wi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.wi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

.wi-day-sunny:before {
  content: ""; }

.wi-day-cloudy:before {
  content: ""; }

.wi-day-cloudy-gusts:before {
  content: ""; }

.wi-day-cloudy-windy:before {
  content: ""; }

.wi-day-fog:before {
  content: ""; }

.wi-day-hail:before {
  content: ""; }

.wi-day-haze:before {
  content: ""; }

.wi-day-lightning:before {
  content: ""; }

.wi-day-rain:before {
  content: ""; }

.wi-day-rain-mix:before {
  content: ""; }

.wi-day-rain-wind:before {
  content: ""; }

.wi-day-showers:before {
  content: ""; }

.wi-day-sleet:before {
  content: ""; }

.wi-day-sleet-storm:before {
  content: ""; }

.wi-day-snow:before {
  content: ""; }

.wi-day-snow-thunderstorm:before {
  content: ""; }

.wi-day-snow-wind:before {
  content: ""; }

.wi-day-sprinkle:before {
  content: ""; }

.wi-day-storm-showers:before {
  content: ""; }

.wi-day-sunny-overcast:before {
  content: ""; }

.wi-day-thunderstorm:before {
  content: ""; }

.wi-day-windy:before {
  content: ""; }

.wi-solar-eclipse:before {
  content: ""; }

.wi-hot:before {
  content: ""; }

.wi-day-cloudy-high:before {
  content: ""; }

.wi-day-light-wind:before {
  content: ""; }

.wi-night-clear:before {
  content: ""; }

.wi-night-alt-cloudy:before {
  content: ""; }

.wi-night-alt-cloudy-gusts:before {
  content: ""; }

.wi-night-alt-cloudy-windy:before {
  content: ""; }

.wi-night-alt-hail:before {
  content: ""; }

.wi-night-alt-lightning:before {
  content: ""; }

.wi-night-alt-rain:before {
  content: ""; }

.wi-night-alt-rain-mix:before {
  content: ""; }

.wi-night-alt-rain-wind:before {
  content: ""; }

.wi-night-alt-showers:before {
  content: ""; }

.wi-night-alt-sleet:before {
  content: ""; }

.wi-night-alt-sleet-storm:before {
  content: ""; }

.wi-night-alt-snow:before {
  content: ""; }

.wi-night-alt-snow-thunderstorm:before {
  content: ""; }

.wi-night-alt-snow-wind:before {
  content: ""; }

.wi-night-alt-sprinkle:before {
  content: ""; }

.wi-night-alt-storm-showers:before {
  content: ""; }

.wi-night-alt-thunderstorm:before {
  content: ""; }

.wi-night-cloudy:before {
  content: ""; }

.wi-night-cloudy-gusts:before {
  content: ""; }

.wi-night-cloudy-windy:before {
  content: ""; }

.wi-night-fog:before {
  content: ""; }

.wi-night-hail:before {
  content: ""; }

.wi-night-lightning:before {
  content: ""; }

.wi-night-partly-cloudy:before {
  content: ""; }

.wi-night-rain:before {
  content: ""; }

.wi-night-rain-mix:before {
  content: ""; }

.wi-night-rain-wind:before {
  content: ""; }

.wi-night-showers:before {
  content: ""; }

.wi-night-sleet:before {
  content: ""; }

.wi-night-sleet-storm:before {
  content: ""; }

.wi-night-snow:before {
  content: ""; }

.wi-night-snow-thunderstorm:before {
  content: ""; }

.wi-night-snow-wind:before {
  content: ""; }

.wi-night-sprinkle:before {
  content: ""; }

.wi-night-storm-showers:before {
  content: ""; }

.wi-night-thunderstorm:before {
  content: ""; }

.wi-lunar-eclipse:before {
  content: ""; }

.wi-stars:before {
  content: ""; }

.wi-storm-showers:before {
  content: ""; }

.wi-thunderstorm:before {
  content: ""; }

.wi-night-alt-cloudy-high:before {
  content: ""; }

.wi-night-cloudy-high:before {
  content: ""; }

.wi-night-alt-partly-cloudy:before {
  content: ""; }

.wi-cloud:before {
  content: ""; }

.wi-cloudy:before {
  content: ""; }

.wi-cloudy-gusts:before {
  content: ""; }

.wi-cloudy-windy:before {
  content: ""; }

.wi-fog:before {
  content: ""; }

.wi-hail:before {
  content: ""; }

.wi-rain:before {
  content: ""; }

.wi-rain-mix:before {
  content: ""; }

.wi-rain-wind:before {
  content: ""; }

.wi-showers:before {
  content: ""; }

.wi-sleet:before {
  content: ""; }

.wi-snow:before {
  content: ""; }

.wi-sprinkle:before {
  content: ""; }

.wi-storm-showers:before {
  content: ""; }

.wi-thunderstorm:before {
  content: ""; }

.wi-snow-wind:before {
  content: ""; }

.wi-snow:before {
  content: ""; }

.wi-smog:before {
  content: ""; }

.wi-smoke:before {
  content: ""; }

.wi-lightning:before {
  content: ""; }

.wi-raindrops:before {
  content: ""; }

.wi-raindrop:before {
  content: ""; }

.wi-dust:before {
  content: ""; }

.wi-snowflake-cold:before {
  content: ""; }

.wi-windy:before {
  content: ""; }

.wi-strong-wind:before {
  content: ""; }

.wi-sandstorm:before {
  content: ""; }

.wi-earthquake:before {
  content: ""; }

.wi-fire:before {
  content: ""; }

.wi-flood:before {
  content: ""; }

.wi-meteor:before {
  content: ""; }

.wi-tsunami:before {
  content: ""; }

.wi-volcano:before {
  content: ""; }

.wi-hurricane:before {
  content: ""; }

.wi-tornado:before {
  content: ""; }

.wi-small-craft-advisory:before {
  content: ""; }

.wi-gale-warning:before {
  content: ""; }

.wi-storm-warning:before {
  content: ""; }

.wi-hurricane-warning:before {
  content: ""; }

.wi-wind-direction:before {
  content: ""; }

.wi-alien:before {
  content: ""; }

.wi-celsius:before {
  content: ""; }

.wi-fahrenheit:before {
  content: ""; }

.wi-degrees:before {
  content: ""; }

.wi-thermometer:before {
  content: ""; }

.wi-thermometer-exterior:before {
  content: ""; }

.wi-thermometer-internal:before {
  content: ""; }

.wi-cloud-down:before {
  content: ""; }

.wi-cloud-up:before {
  content: ""; }

.wi-cloud-refresh:before {
  content: ""; }

.wi-horizon:before {
  content: ""; }

.wi-horizon-alt:before {
  content: ""; }

.wi-sunrise:before {
  content: ""; }

.wi-sunset:before {
  content: ""; }

.wi-moonrise:before {
  content: ""; }

.wi-moonset:before {
  content: ""; }

.wi-refresh:before {
  content: ""; }

.wi-refresh-alt:before {
  content: ""; }

.wi-umbrella:before {
  content: ""; }

.wi-barometer:before {
  content: ""; }

.wi-humidity:before {
  content: ""; }

.wi-na:before {
  content: ""; }

.wi-train:before {
  content: ""; }

.wi-moon-new:before {
  content: ""; }

.wi-moon-waxing-crescent-1:before {
  content: ""; }

.wi-moon-waxing-crescent-2:before {
  content: ""; }

.wi-moon-waxing-crescent-3:before {
  content: ""; }

.wi-moon-waxing-crescent-4:before {
  content: ""; }

.wi-moon-waxing-crescent-5:before {
  content: ""; }

.wi-moon-waxing-crescent-6:before {
  content: ""; }

.wi-moon-first-quarter:before {
  content: ""; }

.wi-moon-waxing-gibbous-1:before {
  content: ""; }

.wi-moon-waxing-gibbous-2:before {
  content: ""; }

.wi-moon-waxing-gibbous-3:before {
  content: ""; }

.wi-moon-waxing-gibbous-4:before {
  content: ""; }

.wi-moon-waxing-gibbous-5:before {
  content: ""; }

.wi-moon-waxing-gibbous-6:before {
  content: ""; }

.wi-moon-full:before {
  content: ""; }

.wi-moon-waning-gibbous-1:before {
  content: ""; }

.wi-moon-waning-gibbous-2:before {
  content: ""; }

.wi-moon-waning-gibbous-3:before {
  content: ""; }

.wi-moon-waning-gibbous-4:before {
  content: ""; }

.wi-moon-waning-gibbous-5:before {
  content: ""; }

.wi-moon-waning-gibbous-6:before {
  content: ""; }

.wi-moon-third-quarter:before {
  content: ""; }

.wi-moon-waning-crescent-1:before {
  content: ""; }

.wi-moon-waning-crescent-2:before {
  content: ""; }

.wi-moon-waning-crescent-3:before {
  content: ""; }

.wi-moon-waning-crescent-4:before {
  content: ""; }

.wi-moon-waning-crescent-5:before {
  content: ""; }

.wi-moon-waning-crescent-6:before {
  content: ""; }

.wi-moon-alt-new:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-1:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-2:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-3:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-4:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-5:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-6:before {
  content: ""; }

.wi-moon-alt-first-quarter:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-1:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-2:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-3:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-4:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-5:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-6:before {
  content: ""; }

.wi-moon-alt-full:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-1:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-2:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-3:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-4:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-5:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-6:before {
  content: ""; }

.wi-moon-alt-third-quarter:before {
  content: ""; }

.wi-moon-alt-waning-crescent-1:before {
  content: ""; }

.wi-moon-alt-waning-crescent-2:before {
  content: ""; }

.wi-moon-alt-waning-crescent-3:before {
  content: ""; }

.wi-moon-alt-waning-crescent-4:before {
  content: ""; }

.wi-moon-alt-waning-crescent-5:before {
  content: ""; }

.wi-moon-alt-waning-crescent-6:before {
  content: ""; }

.wi-moon-0:before {
  content: ""; }

.wi-moon-1:before {
  content: ""; }

.wi-moon-2:before {
  content: ""; }

.wi-moon-3:before {
  content: ""; }

.wi-moon-4:before {
  content: ""; }

.wi-moon-5:before {
  content: ""; }

.wi-moon-6:before {
  content: ""; }

.wi-moon-7:before {
  content: ""; }

.wi-moon-8:before {
  content: ""; }

.wi-moon-9:before {
  content: ""; }

.wi-moon-10:before {
  content: ""; }

.wi-moon-11:before {
  content: ""; }

.wi-moon-12:before {
  content: ""; }

.wi-moon-13:before {
  content: ""; }

.wi-moon-14:before {
  content: ""; }

.wi-moon-15:before {
  content: ""; }

.wi-moon-16:before {
  content: ""; }

.wi-moon-17:before {
  content: ""; }

.wi-moon-18:before {
  content: ""; }

.wi-moon-19:before {
  content: ""; }

.wi-moon-20:before {
  content: ""; }

.wi-moon-21:before {
  content: ""; }

.wi-moon-22:before {
  content: ""; }

.wi-moon-23:before {
  content: ""; }

.wi-moon-24:before {
  content: ""; }

.wi-moon-25:before {
  content: ""; }

.wi-moon-26:before {
  content: ""; }

.wi-moon-27:before {
  content: ""; }

.wi-time-1:before {
  content: ""; }

.wi-time-2:before {
  content: ""; }

.wi-time-3:before {
  content: ""; }

.wi-time-4:before {
  content: ""; }

.wi-time-5:before {
  content: ""; }

.wi-time-6:before {
  content: ""; }

.wi-time-7:before {
  content: ""; }

.wi-time-8:before {
  content: ""; }

.wi-time-9:before {
  content: ""; }

.wi-time-10:before {
  content: ""; }

.wi-time-11:before {
  content: ""; }

.wi-time-12:before {
  content: ""; }

.wi-direction-up:before {
  content: ""; }

.wi-direction-up-right:before {
  content: ""; }

.wi-direction-right:before {
  content: ""; }

.wi-direction-down-right:before {
  content: ""; }

.wi-direction-down:before {
  content: ""; }

.wi-direction-down-left:before {
  content: ""; }

.wi-direction-left:before {
  content: ""; }

.wi-direction-up-left:before {
  content: ""; }

.wi-wind-beaufort-0:before {
  content: ""; }

.wi-wind-beaufort-1:before {
  content: ""; }

.wi-wind-beaufort-2:before {
  content: ""; }

.wi-wind-beaufort-3:before {
  content: ""; }

.wi-wind-beaufort-4:before {
  content: ""; }

.wi-wind-beaufort-5:before {
  content: ""; }

.wi-wind-beaufort-6:before {
  content: ""; }

.wi-wind-beaufort-7:before {
  content: ""; }

.wi-wind-beaufort-8:before {
  content: ""; }

.wi-wind-beaufort-9:before {
  content: ""; }

.wi-wind-beaufort-10:before {
  content: ""; }

.wi-wind-beaufort-11:before {
  content: ""; }

.wi-wind-beaufort-12:before {
  content: ""; }

.App {
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(to bottom right, #fc746c, #ff9167); }
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white; }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }
  .App-title {
    font-size: 1.5em; }
  .App-intro {
    font-size: large; }
    .App-intro h1 {
      color: red;
      font-family: "Roboto"; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
