@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Regular";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Roboto-RegularItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Thin";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Thin.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Black";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-Black.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../node_modules/roboto-fontface/fonts/roboto/Roboto-BlackItalic.woff") format("woff"); }

@font-face {
  font-family: "weathericons";
  src: url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.eot");
  src: url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.woff2") format("woff2"), url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.woff") format("woff"), url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.ttf") format("truetype"), url("../node_modules/weather-icons-sass/font/weathericons-regular-webfont.svg#weather_iconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.wi {
  display: inline-block;
  font-family: "weathericons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wi-fw {
  width: 1.4em;
  text-align: center; }

.wi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.wi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.wi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.wi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.wi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

.wi-day-sunny:before {
  content: ""; }

.wi-day-cloudy:before {
  content: ""; }

.wi-day-cloudy-gusts:before {
  content: ""; }

.wi-day-cloudy-windy:before {
  content: ""; }

.wi-day-fog:before {
  content: ""; }

.wi-day-hail:before {
  content: ""; }

.wi-day-haze:before {
  content: ""; }

.wi-day-lightning:before {
  content: ""; }

.wi-day-rain:before {
  content: ""; }

.wi-day-rain-mix:before {
  content: ""; }

.wi-day-rain-wind:before {
  content: ""; }

.wi-day-showers:before {
  content: ""; }

.wi-day-sleet:before {
  content: ""; }

.wi-day-sleet-storm:before {
  content: ""; }

.wi-day-snow:before {
  content: ""; }

.wi-day-snow-thunderstorm:before {
  content: ""; }

.wi-day-snow-wind:before {
  content: ""; }

.wi-day-sprinkle:before {
  content: ""; }

.wi-day-storm-showers:before {
  content: ""; }

.wi-day-sunny-overcast:before {
  content: ""; }

.wi-day-thunderstorm:before {
  content: ""; }

.wi-day-windy:before {
  content: ""; }

.wi-solar-eclipse:before {
  content: ""; }

.wi-hot:before {
  content: ""; }

.wi-day-cloudy-high:before {
  content: ""; }

.wi-day-light-wind:before {
  content: ""; }

.wi-night-clear:before {
  content: ""; }

.wi-night-alt-cloudy:before {
  content: ""; }

.wi-night-alt-cloudy-gusts:before {
  content: ""; }

.wi-night-alt-cloudy-windy:before {
  content: ""; }

.wi-night-alt-hail:before {
  content: ""; }

.wi-night-alt-lightning:before {
  content: ""; }

.wi-night-alt-rain:before {
  content: ""; }

.wi-night-alt-rain-mix:before {
  content: ""; }

.wi-night-alt-rain-wind:before {
  content: ""; }

.wi-night-alt-showers:before {
  content: ""; }

.wi-night-alt-sleet:before {
  content: ""; }

.wi-night-alt-sleet-storm:before {
  content: ""; }

.wi-night-alt-snow:before {
  content: ""; }

.wi-night-alt-snow-thunderstorm:before {
  content: ""; }

.wi-night-alt-snow-wind:before {
  content: ""; }

.wi-night-alt-sprinkle:before {
  content: ""; }

.wi-night-alt-storm-showers:before {
  content: ""; }

.wi-night-alt-thunderstorm:before {
  content: ""; }

.wi-night-cloudy:before {
  content: ""; }

.wi-night-cloudy-gusts:before {
  content: ""; }

.wi-night-cloudy-windy:before {
  content: ""; }

.wi-night-fog:before {
  content: ""; }

.wi-night-hail:before {
  content: ""; }

.wi-night-lightning:before {
  content: ""; }

.wi-night-partly-cloudy:before {
  content: ""; }

.wi-night-rain:before {
  content: ""; }

.wi-night-rain-mix:before {
  content: ""; }

.wi-night-rain-wind:before {
  content: ""; }

.wi-night-showers:before {
  content: ""; }

.wi-night-sleet:before {
  content: ""; }

.wi-night-sleet-storm:before {
  content: ""; }

.wi-night-snow:before {
  content: ""; }

.wi-night-snow-thunderstorm:before {
  content: ""; }

.wi-night-snow-wind:before {
  content: ""; }

.wi-night-sprinkle:before {
  content: ""; }

.wi-night-storm-showers:before {
  content: ""; }

.wi-night-thunderstorm:before {
  content: ""; }

.wi-lunar-eclipse:before {
  content: ""; }

.wi-stars:before {
  content: ""; }

.wi-storm-showers:before {
  content: ""; }

.wi-thunderstorm:before {
  content: ""; }

.wi-night-alt-cloudy-high:before {
  content: ""; }

.wi-night-cloudy-high:before {
  content: ""; }

.wi-night-alt-partly-cloudy:before {
  content: ""; }

.wi-cloud:before {
  content: ""; }

.wi-cloudy:before {
  content: ""; }

.wi-cloudy-gusts:before {
  content: ""; }

.wi-cloudy-windy:before {
  content: ""; }

.wi-fog:before {
  content: ""; }

.wi-hail:before {
  content: ""; }

.wi-rain:before {
  content: ""; }

.wi-rain-mix:before {
  content: ""; }

.wi-rain-wind:before {
  content: ""; }

.wi-showers:before {
  content: ""; }

.wi-sleet:before {
  content: ""; }

.wi-snow:before {
  content: ""; }

.wi-sprinkle:before {
  content: ""; }

.wi-storm-showers:before {
  content: ""; }

.wi-thunderstorm:before {
  content: ""; }

.wi-snow-wind:before {
  content: ""; }

.wi-snow:before {
  content: ""; }

.wi-smog:before {
  content: ""; }

.wi-smoke:before {
  content: ""; }

.wi-lightning:before {
  content: ""; }

.wi-raindrops:before {
  content: ""; }

.wi-raindrop:before {
  content: ""; }

.wi-dust:before {
  content: ""; }

.wi-snowflake-cold:before {
  content: ""; }

.wi-windy:before {
  content: ""; }

.wi-strong-wind:before {
  content: ""; }

.wi-sandstorm:before {
  content: ""; }

.wi-earthquake:before {
  content: ""; }

.wi-fire:before {
  content: ""; }

.wi-flood:before {
  content: ""; }

.wi-meteor:before {
  content: ""; }

.wi-tsunami:before {
  content: ""; }

.wi-volcano:before {
  content: ""; }

.wi-hurricane:before {
  content: ""; }

.wi-tornado:before {
  content: ""; }

.wi-small-craft-advisory:before {
  content: ""; }

.wi-gale-warning:before {
  content: ""; }

.wi-storm-warning:before {
  content: ""; }

.wi-hurricane-warning:before {
  content: ""; }

.wi-wind-direction:before {
  content: ""; }

.wi-alien:before {
  content: ""; }

.wi-celsius:before {
  content: ""; }

.wi-fahrenheit:before {
  content: ""; }

.wi-degrees:before {
  content: ""; }

.wi-thermometer:before {
  content: ""; }

.wi-thermometer-exterior:before {
  content: ""; }

.wi-thermometer-internal:before {
  content: ""; }

.wi-cloud-down:before {
  content: ""; }

.wi-cloud-up:before {
  content: ""; }

.wi-cloud-refresh:before {
  content: ""; }

.wi-horizon:before {
  content: ""; }

.wi-horizon-alt:before {
  content: ""; }

.wi-sunrise:before {
  content: ""; }

.wi-sunset:before {
  content: ""; }

.wi-moonrise:before {
  content: ""; }

.wi-moonset:before {
  content: ""; }

.wi-refresh:before {
  content: ""; }

.wi-refresh-alt:before {
  content: ""; }

.wi-umbrella:before {
  content: ""; }

.wi-barometer:before {
  content: ""; }

.wi-humidity:before {
  content: ""; }

.wi-na:before {
  content: ""; }

.wi-train:before {
  content: ""; }

.wi-moon-new:before {
  content: ""; }

.wi-moon-waxing-crescent-1:before {
  content: ""; }

.wi-moon-waxing-crescent-2:before {
  content: ""; }

.wi-moon-waxing-crescent-3:before {
  content: ""; }

.wi-moon-waxing-crescent-4:before {
  content: ""; }

.wi-moon-waxing-crescent-5:before {
  content: ""; }

.wi-moon-waxing-crescent-6:before {
  content: ""; }

.wi-moon-first-quarter:before {
  content: ""; }

.wi-moon-waxing-gibbous-1:before {
  content: ""; }

.wi-moon-waxing-gibbous-2:before {
  content: ""; }

.wi-moon-waxing-gibbous-3:before {
  content: ""; }

.wi-moon-waxing-gibbous-4:before {
  content: ""; }

.wi-moon-waxing-gibbous-5:before {
  content: ""; }

.wi-moon-waxing-gibbous-6:before {
  content: ""; }

.wi-moon-full:before {
  content: ""; }

.wi-moon-waning-gibbous-1:before {
  content: ""; }

.wi-moon-waning-gibbous-2:before {
  content: ""; }

.wi-moon-waning-gibbous-3:before {
  content: ""; }

.wi-moon-waning-gibbous-4:before {
  content: ""; }

.wi-moon-waning-gibbous-5:before {
  content: ""; }

.wi-moon-waning-gibbous-6:before {
  content: ""; }

.wi-moon-third-quarter:before {
  content: ""; }

.wi-moon-waning-crescent-1:before {
  content: ""; }

.wi-moon-waning-crescent-2:before {
  content: ""; }

.wi-moon-waning-crescent-3:before {
  content: ""; }

.wi-moon-waning-crescent-4:before {
  content: ""; }

.wi-moon-waning-crescent-5:before {
  content: ""; }

.wi-moon-waning-crescent-6:before {
  content: ""; }

.wi-moon-alt-new:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-1:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-2:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-3:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-4:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-5:before {
  content: ""; }

.wi-moon-alt-waxing-crescent-6:before {
  content: ""; }

.wi-moon-alt-first-quarter:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-1:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-2:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-3:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-4:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-5:before {
  content: ""; }

.wi-moon-alt-waxing-gibbous-6:before {
  content: ""; }

.wi-moon-alt-full:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-1:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-2:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-3:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-4:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-5:before {
  content: ""; }

.wi-moon-alt-waning-gibbous-6:before {
  content: ""; }

.wi-moon-alt-third-quarter:before {
  content: ""; }

.wi-moon-alt-waning-crescent-1:before {
  content: ""; }

.wi-moon-alt-waning-crescent-2:before {
  content: ""; }

.wi-moon-alt-waning-crescent-3:before {
  content: ""; }

.wi-moon-alt-waning-crescent-4:before {
  content: ""; }

.wi-moon-alt-waning-crescent-5:before {
  content: ""; }

.wi-moon-alt-waning-crescent-6:before {
  content: ""; }

.wi-moon-0:before {
  content: ""; }

.wi-moon-1:before {
  content: ""; }

.wi-moon-2:before {
  content: ""; }

.wi-moon-3:before {
  content: ""; }

.wi-moon-4:before {
  content: ""; }

.wi-moon-5:before {
  content: ""; }

.wi-moon-6:before {
  content: ""; }

.wi-moon-7:before {
  content: ""; }

.wi-moon-8:before {
  content: ""; }

.wi-moon-9:before {
  content: ""; }

.wi-moon-10:before {
  content: ""; }

.wi-moon-11:before {
  content: ""; }

.wi-moon-12:before {
  content: ""; }

.wi-moon-13:before {
  content: ""; }

.wi-moon-14:before {
  content: ""; }

.wi-moon-15:before {
  content: ""; }

.wi-moon-16:before {
  content: ""; }

.wi-moon-17:before {
  content: ""; }

.wi-moon-18:before {
  content: ""; }

.wi-moon-19:before {
  content: ""; }

.wi-moon-20:before {
  content: ""; }

.wi-moon-21:before {
  content: ""; }

.wi-moon-22:before {
  content: ""; }

.wi-moon-23:before {
  content: ""; }

.wi-moon-24:before {
  content: ""; }

.wi-moon-25:before {
  content: ""; }

.wi-moon-26:before {
  content: ""; }

.wi-moon-27:before {
  content: ""; }

.wi-time-1:before {
  content: ""; }

.wi-time-2:before {
  content: ""; }

.wi-time-3:before {
  content: ""; }

.wi-time-4:before {
  content: ""; }

.wi-time-5:before {
  content: ""; }

.wi-time-6:before {
  content: ""; }

.wi-time-7:before {
  content: ""; }

.wi-time-8:before {
  content: ""; }

.wi-time-9:before {
  content: ""; }

.wi-time-10:before {
  content: ""; }

.wi-time-11:before {
  content: ""; }

.wi-time-12:before {
  content: ""; }

.wi-direction-up:before {
  content: ""; }

.wi-direction-up-right:before {
  content: ""; }

.wi-direction-right:before {
  content: ""; }

.wi-direction-down-right:before {
  content: ""; }

.wi-direction-down:before {
  content: ""; }

.wi-direction-down-left:before {
  content: ""; }

.wi-direction-left:before {
  content: ""; }

.wi-direction-up-left:before {
  content: ""; }

.wi-wind-beaufort-0:before {
  content: ""; }

.wi-wind-beaufort-1:before {
  content: ""; }

.wi-wind-beaufort-2:before {
  content: ""; }

.wi-wind-beaufort-3:before {
  content: ""; }

.wi-wind-beaufort-4:before {
  content: ""; }

.wi-wind-beaufort-5:before {
  content: ""; }

.wi-wind-beaufort-6:before {
  content: ""; }

.wi-wind-beaufort-7:before {
  content: ""; }

.wi-wind-beaufort-8:before {
  content: ""; }

.wi-wind-beaufort-9:before {
  content: ""; }

.wi-wind-beaufort-10:before {
  content: ""; }

.wi-wind-beaufort-11:before {
  content: ""; }

.wi-wind-beaufort-12:before {
  content: ""; }

.Detail-header {
  padding: 10px 0;
  display: -webkit-box;
  display: box; }
  .Detail-header-back {
    width: 10%;
    text-align: left; }
    .Detail-header-back a {
      color: black; }
  .Detail-header-city {
    text-align: left;
    font-size: 24px;
    width: 80%; }
  .Detail-header-switch {
    position: relative;
    text-align: right; }
    .Detail-header-switch > span {
      position: absolute;
      top: -15px; }

.Detail-day {
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: 100;
  padding: 10px 0; }
  .Detail-day-weather {
    text-align: left;
    font-weight: 100;
    text-transform: capitalize;
    padding: 10px 0; }

.Detail-details {
  display: -webkit-box;
  display: box;
  color: #ff9167;
  padding: 10px 0; }
  .Detail-details-temperature {
    width: 50%;
    text-align: left;
    font-size: 64px;
    font-weight: 400; }
  .Detail-details-stages {
    width: 50%;
    text-align: left;
    font-weight: 100; }
    .Detail-details-stages-stage {
      display: -webkit-box;
      display: box; }
      .Detail-details-stages-stage-each {
        text-align: left;
        width: 30%; }
      .Detail-details-stages-stage-temperature {
        text-align: right; }

.Detail-week {
  display: -webkit-box;
  display: -webkit-box;
  padding: 10px 0; }
  .Detail-week-day {
    width: 14.3%; }
    .Detail-week-day-each {
      font-size: 12px;
      font-weight: 100; }
    .Detail-week-day-icon {
      font-size: 24px;
      padding: 10px 0; }
    .Detail-week-day-temperature {
      font-size: 12px;
      font-weight: 100; }

.App {
  font-family: "Roboto";
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(to bottom right, #fc746c, #ff9167); }
  .App-panel {
    position: relative;
    top: 10em;
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
