$roboto-font-path: '../node_modules/roboto-fontface/fonts';

@import "roboto-fontface/css/roboto/sass/roboto-fontface";

$wi-path: "../node_modules/weather-icons-sass/font";

@import "weather-icons-sass/sass/weather-icons-core";
@import "weather-icons-sass/sass/weather-icons-variables";
@import "weather-icons-sass/sass/weather-icons-classes";

//Pages
@import "./pages/Detail/Detail";
@import "./pages/Home/Home";


.App {
  font-family: "Roboto";
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(to bottom right, #fc746c, #ff9167);
  &-panel {
    position: relative;
    top: 10em;
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
